body {
      background-color: lightsalmon;
}
.message {
      background-color: lime;
}
.author {
      color:white;
}
.commentBox {
      border: black;
      border-radius: 5%;
      border-width: 2px;
      border-style: solid;
      margin: 10px;
}     